.input {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.input label:first-of-type {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 5px;
}

.input-error_message--container
{
  display: flex;
  flex-direction: column;
}

.input input {
  padding: 3px;
}

.Text textarea {
  resize: none;
}